.boxis {
    text-align: center;
}

.boxis2 {
    margin-top: 10px;
    text-align: center;
}

.boxis3 {
    margin-top: 10px;
    text-align: center;
}

.lebel2 {
    font-family: fantasy;
    font-size: 20px;
}

.AtRe {
    margin-top: 5%;
    margin-top: 20px;
    text-align: center;
    text-shadow: 3px 3px 4px white;
}