
.margin{
   display: flex;
   margin-top: 10px;
   margin-left:500px;
  
}
.ContBot{
    
    display: block;
    margin-left: 70%;
    margin-left: 40px;
    background-color:blue;

}
.btn2{
    display:flex;
    margin-left: 10px;
   
}

.evento{
    margin-left: 5%;
    margin-right: 5%; 
    background-color: rgb(40, 66, 103);
    border-radius: 25px 5px;
}

.BotFight{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;

}

    .Title{
        text-align: center;
        margin-top: 40px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
    }
    .alert{
        display: flex;
        margin-top:3px;
        margin-left: 500px;
    
    }
 .Botonera2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;
} 
