.name {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;

}

.Insta {
    color: purple;
    font-size: 30px;

    margin-top: 2px;
    margin-bottom: 10px;
    text-decoration: none;
}

.atleta {
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px;
    font-size: 60px;


}

.SPORT {
    text-align: left;
}

.img {
    height: 400px;
    width: 400px;
    margin-right: 70%;
    border-radius: 25px 25px;
}

.comments {
    display: flex;
}

.box {
    display: flex;
    grid-template-columns: 1fr;
    gap: 5px;
}

.centered-buttons {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    margin-top: 20px;
    /* Añade un margen superior opcional */
}

.ALERTA {
    text-align: center;
    height: 50%;
    margin-top: 15%;
    background-color: #17a2b8;
    margin-bottom: 30px;
    margin-right: auto;
    border-radius: 25px 25px;
}