.Box{
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}
.ber{
   margin-left: 10px;
}
.bor{
margin-top: 30px;
color:white;
}
.date{
    color:white;
}

.media-body{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.media{
    padding: 10px;
    border-radius: 1px 30px;
    margin-top: 20px;
    background-size: 200%;
}
.media-body{
    background-size: 200%;
}
.titevent{
    text-transform: uppercase;
    color:white;
}
.texto{
    color:white;
    resize: none;
    width: 50%;
}
.mr-3{
    border: 3px solid white;
}

