.container {
    text-align: center;
    margin-top: 25%;
}

.custom-button {
    align-items: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #050506;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo al pasar el mouse por encima */
.custom-button:hover {
    background-color: #5e758d;
}



.sponsor {
    text-decoration: none;
}

.fighter {
    text-decoration: none;
}

.p {
    text-align: center;
}